{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'alfmaire/css/materialize.css' %} ">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="custom.css">

	<title>TO DO APP</title>

	<nav>
        <div class="nav-wrapper">
          <a href="#" class="brand-logo">TO DO APP</a>
        </div>
      </nav>


{% block content %} 

{% endblock %}

<hr>

<h5><b>Narrative Report</b></h5>
<br>
<img class="materialboxed" width="600" src="{% static 'alfmaire/images/HadoopA.jpg' %}">

<br>

<
<main>
  <section>
<h4><b>WHAT IS BIG DATA?</b></h4>
<h6>Part of the horizontal scale of growing data feed by the response of integrative programming and technologies whether the data is from structured, unstructured, semi-structured.</h6>

<main>

  <section>
<h4><b>WHAT IS HADOOP?</b></h4>
<h6>Hadoop is a Java-based open source that distributed storage and processing of very large data sets on commodity hardware clusters. It provides massive storage for any kind of data, enormous processing power and the ability to handle big data and organize them more quickly and efficiently.</h6>
</section>

<main>
  <section>
<h4><b>WHAT ARE THE COMPONENTS OF HADOOP?</b></h4>
<h6>There are 3 components of Hadoop which are <b>Hadoop HDFS, Hadoop MapReduce, Hadoop YARN.</b></h6>
</main>

<main>
  <section>
<h4><b>Hadoop Distributed File System </b></h4>
<h6>Is a storage model it allows data to be stored in files. There are two types of nodes in HDFS: NameNode and DataNode. The commodity servers where the data is really kept are known as DataNodes. The NameNode, on the other hand, holds metadata that describes the data contained in the various nodes.</h6>

<br>
<img class="materialboxed" width="800" src="{% static 'alfmaire/images/HADOOP.jpg' %}">
</main>
<br>

<main>
  <section>
<h4><b>Yet Another Resource Negotiator (YARN)</b></h4>
<h6>A resource-management platform that is responsible for managing compute resources in clusters and using them for scheduling of users' applications.</h6>

<img class="materialboxed" width="800" src="{% static 'alfmaire/images/yarnhad.jpg' %}">
<main>
<br>
  <main>
    <section>
  <h4><b>MAP REDUCE</b></h4>
  <h6>It is very important and major components in Hadoop where it divide huge data set into smaller pieces. MapReduce is a programming model that is used for efficient processing in parallel over large data-sets in a distributed manner. </h6>
  <br>
  <img class="materialboxed" width="800" src="{% static 'alfmaire/images/MapReduce-Architecture.jpg' %}">

  <br>

      <section>
    <h4><b>INSTALLING HADOOP SOFTWARE</b></h4>
  <br>
      <img class="materialboxed" width="600" src="{% static 'alfmaire/images/AAS.jpg' %}">    
  <br>
  <br>
        <h5>Hadoop was developed because it represented the most pragmatic way to allow companies to manage huge amount of data easily. By making the big data problem into a small pieces that could processed in parallel.</h5>
  

<script type="text/javascript" src="{% static 'alfmaire/js/materialize.min.js' %}"></script>

</body>
</html>